div.title{
   width: 1000px;
   height:50px; 
    background-color: gray;
    font-size: 20px;
    font-family: "Impact";
    margin-bottom: 20px;
    padding: 10px 0px 0px 20px;
}

div.da{
       width: 1000px;
   height:320px; 
    background-color: lightblue;
    font-family: "Impact";
    margin-bottom: 20px;
    font-size: 0px;
}

    
    
    


 div.kuu1{
    display: inline-block;
    vertical-align: top;
    width: 250px;
    height: 320px;
    background-color: gray;
    margin-right: 50px; 
    font-size: 0px;
}

div.kuu2{
    display: inline-block;
    vertical-align: top;
    width: 700px;
    height: 320px;
    background-color: gray;
    font-size: 0px;
}

div.ika1{
    display: block;
        width: 250px;
    height: 100px;
    background-color: red;
    font-size: 20px;
    margin-bottom:10px; 
}

div.ika2{
    display: block;
        width: 250px;
    height: 100px;
    background-color: red;
    font-size: 20px;
    margin-bottom:10px; 
}

div.ika3{
    display: block;
        width: 250px;
    height: 100px;
    background-color: red;
    font-size: 20px;
}

div.tako1{
    display: block;
        width: 700px;
    height: 300px;
    background-color: black;
    font-size: 0px;
}

div.tako2{
    display: block;
        width: 700px;
    height: 20px;
    background-color: blue;
    font-size: 10px;
}

div.footer{
    width: 1000px;
    height: 40px;
    background-color: orange;
    font-size: 20px;
    font-family: "Impact";
    text-align: right;
   
}




